spring.security.oauth2.client:
  registration:
    google:
      client-id: ${GOOGLE_CLIENT_ID}
      client-secret: ${GOOGLE_CLIENT_SECRET}


app:
  cors:
    front-end-url: ${FRONTEND_URL:http://127.0.0.1:5500}

